@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

:root {
    /* Colors */
        /* Primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --light-green: hsl(154, 70%, 58%);
        /* Accent */
    --blue: hsl(248, 32%, 49%);
        /* Neutral */
    --gray-blue: hsl(246, 25%, 77%);
    --dark-blue: hsl(249, 10%, 26%);
        /* box shadow */
    --box-shadow-dark-blue: hsla(249, 10%, 26%, 0.5);
    --box-shadow-dark-green: hsla(154, 89%, 33%, 0.9);
}

/* Body */
body {
    background-color: var(--red);
    background-image: url(images/bg-intro-mobile.png);
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

/* Heading */
.heading {
    color: #fff;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 45px;
    width: 300px;
    max-width: 100%;
}

/* Subscribe */
.subscribe-btn {
    font-family: inherit;
    color: #fff;
    background-color: var(--blue);
    width: 300px;
    max-width: 100%;
    border: none;
    border-radius: 10px;
    padding: 20px 50px;
    margin-bottom: 30px;
}

.try-it {
    font-weight: 600;
}

/* Form */
.container {
    background-color: #fff;
    border-radius: 10px;
    width: 300px;
    max-width: 100%;
    margin-bottom: 50px;
}

#form {
    padding: 20px;
}

.form-control {
    padding-bottom: 20px;
    margin-bottom: 10px;
    position: relative;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-family: inherit; /* override default */
    padding: 20px;
    width: 100%;
    caret-color: var(--blue);
}

.form-control input:focus {
    outline: none;
    border: 2px solid var(--blue);
}

/* Success and Error states of input*/
.form-control.success input {
    border-color: var(--green);
}

.form-control.error input {
    border-color: var(--red);
}

/* Error image */
.form-control img {
    position: absolute;
    top: 20px;
    right: 10px;
    visibility: hidden;
}

.form-control.error img {
    visibility: visible;
}

/* Error message */
.form-control small {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--red);
    font-style: italic;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

/* Submit */
#submit {
    color: #fff;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    display: block;
    padding: 15px 20px;
    margin-bottom: 10px;
    font-size: inherit;
    font-family: inherit;
    text-transform: uppercase;
    width: 100%;
}

#submit:hover {
    background-color: var(--light-green);
    cursor: pointer;
}

/* Terms and services */
.agree-to-terms {
    /* text-align:center only affects inline elements */
    /* <small> is a block-lvl element by nature */
    /* changed into inline-block to use text-align */
    display: inline-block;
    text-align: center;
    color: var(--gray-blue);
    font-size: 12px;
}

.terms {
    color: var(--red);
    font-weight: 600;
}

/* Footer */
.footer {
    margin-bottom: 10px;
    width: 100%;
}

.attribution {
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
    color: #f0f0f0;
}

.attribution a {
    color: var(--blue);
    font-weight: 500;
}

.attribution a:hover {
    text-decoration: none;
}

/* Box shadows */
.box-shadow {
    box-shadow: 0 10px 0 0px var(--box-shadow-dark-blue);
}

.box-shadow-btn {
    box-shadow: 0 5px 0 0 var(--box-shadow-dark-green);
}
